body, .container {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  border: 2px solid #8c00ff;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.backingPlate {
  border: 2px solid #1900ff;
  padding: 10px;
  box-sizing: border-box;
  margin: 40px auto 0;
  width: clamp(650px, 50%, 900px);
  height: clamp(400px, 50%, 400px);
}

@media (min-width: 650px) {
  .backingPlate {
    width: min(900px, calc(650px + 40%));
  }
}

@media (min-height: 400px) {
  .backingPlate {
    height: min(600px, calc(400px + 40%));
    margin-top: min(100px, calc(40px + 60%));
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5%;
  place-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #3cff00;
}

.tile {
  background-color: #f0f0f0;
  width: 250px;
  height: 250px;
  border-radius: 2%;
  border: 2px solid #ff0000;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
}

.tile:hover {
  background-color: #e0e0e0;
}



/* Обновленные стили для панели workspace */
.workspace {
  position: fixed; /* Фиксированное положение на экране */
  top: 50%; /* Центрируем по вертикали */
  left: 50%; /* Центрируем по горизонтали */
  transform: translate(-50%, -50%); /* Корректировка для точного центрирования */
  width: 80%; /* Ширина панели */
  height: 80%; /* Высота панели */
  background-color: white; /* Цвет фона панели */
  z-index: 1000; /* Убедитесь, что панель находится поверх overlay */
  overflow: auto; /* Добавьте прокрутку, если контент не помещается */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Добавьте тень для визуального эффекта */
  /*display: flex; /* Используйте flexbox для центрирования содержимого */
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
}


/* Стили для затемнения фона */
.overlay {
  position: fixed; /* Фиксированное положение на экране */
  top: 0;
  left: 0;
  width: 100%; /* Занимает всю ширину экрана */
  height: 100%; /* Занимает всю высоту экрана */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  z-index: 999; /* Находится под панелью workspace */
}