/* Общие стили для контейнера */
.grid-item200 {
    width: 100%; /* Или задайте конкретную ширину, если нужно */
    overflow-x: auto; /* Добавляет горизонтальную прокрутку при необходимости */
    overflow-y: auto; /* Добавляет горизонтальную прокрутку при необходимости */
    padding: 0px;
    box-sizing: border-box;
}

/* Стили для таблицы */
.tab00 {
    width: 100%;
    border-collapse: collapse; /* Убирает лишние отступы между ячейками */
    font-family: Arial, sans-serif; /* Четкий и читаемый шрифт */
    font-size: 14px;
    text-align: left; /* Выравнивание текста по левому краю */
}

/* Стили для заголовков таблицы */
.tab00 thead tr th {
    background-color: #ffffff; /* Светлый фон для заголовков */
    color: #000000; /* Темный текст */
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #000000; /* Границы между ячейками */
    font-weight: normal; /* Жирный шрифт */
    text-transform: capitalize; /* Заглавные буквы */
    letter-spacing: 1px; /* Расстояние между буквами */
}

/* Стили для строк таблицы */
.tab00 tbody tr {
    border-bottom: 1px solid #ffffff; /* Линия между строками */
}

/* Стили для ячеек таблицы */
.tab00 tbody td {
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #000000; /* Границы между ячейками */
    color: #000000; /* Цвет текста */
}
